
<main>
    <section class="content mt-5">
        <h2 class="mb-5">Gérer mes Articles</h2>
        {% if articles|length > 0 %}
            <div class="d-flex flex-wrap justify-content-start align-items-center">
                {% for article in articles %}
                    <div class="card rounded-5">
                        <img class="card-img-top rounded-top-5" src="{{ article.image_path }}"
                             alt="Image de l'article">
                        <div class="card-body">
                            <h3 class="card-title">{{ article.title }}</h3>
                            <p class="card-text">{{ article.chapo }} <br>{{ article.status }}</p>
                            {% if article.id is defined %}
                                <form class="w-100 mx-auto d-flex justify-content-around align-items-center" action="/delete_article" method="post">
                                    <input type="hidden" name="article_id" value="{{ article.id }}">
                                    <input class="btn btn-danger" type="submit" value="Supprimer">
                                    <a class="btn btn-primary" href="edit_article/{{ article.id }}">Modifier</a>
                                </form>
                            {% else %}
                                <p>Erreur : ID de l'article non défini</p>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p>Aucun article trouvé.</p>
        {% endif %}
    </section>
</main>
