<main class="content my-5">
    <h2 class="mb-5 ms-sm-3">Liste des Articles</h2>
    <section class="d-flex justify-content-center flex-wrap">
        {% if articles is not empty %}
            {% for article in articles %}
                <div class="card rounded-4">
                    {% if article.image_path is not empty %}
                        <img class="card-img-top rounded-top-4" src="{{ article.image_path }}" alt="Image de l'article">
                    {% endif %}
                    <div class="card-body">
                        <h3 class="card-title">{{ article.title }}</h3>
                        <p class="card-text ">{{ article.chapo }}</p>
                        <p>Auteur: {{ article.pseudo }}</p>
                        <p>le: {{ article.created_at }}</p>
                        <btn class="btn btn-primary text-light">
                            <a class="text-light" href="/article?id={{ article.id }}">Lire l'article</a>
                        </btn>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p>Aucun article trouvé.</p>
        {% endif %}
    </section>
</main>
{% include 'footer.twig' %}

